.info-wrapper{
    width: 100vw;
    height: 70vh;
    background-color: black;
}

.info{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
}

.brief-introduction-wrapper{
    width: 50%;
    height: 100%;
}

.introduction{
    margin-top: 20%;
    margin-left: 15px;
}

.profile{
    width: 50%;
    height: 100%;
}