.experience-container{
    border: solid;
    width: 100%;
    height: 400px;
    background-color: black;
    display: flex;
}

.right-half-container{
    width: 50%;
    height: 100%;
}

.left-half-container{
    width: 50%;
    height: 100%;
}

.first-experience-container{
    background-color: rgb(67, 52, 124);
    width: 90%;
    height: 90%;
    border: solid;
    border-radius: 2px;
    text-align: center;
    color: white;
    box-shadow: chartreuse;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.6);
    transition: box-shadow 0.1s, transform 0.1s;
    border-radius: 5%;
    margin-top: 5%;
    margin-left: 5%;
}

.first-experience-container:hover{
    box-shadow: 0px 0px 30px rgba(108, 247, 122, 0.6);
    cursor: pointer;
}

.second-experience-container{
    background-color: rgb(67, 52, 124);
    width: 90%;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;
    border: solid;
    border-radius: 2px;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.6);

    /* transition: box-shadow 0.1s, transform 0.2s; */
    border-radius: 5%;
}

.second-experience-container:hover{
    box-shadow: 0px 0px 30px rgba(108, 247, 122, 0.6);
    cursor: pointer;
}

.company-name{
    margin-top: 3%;
    font-size: 2rem;
    color: white;
}

.company-domain{
    color: rgb(160, 152, 152);
}

.time-period{
    margin-top: 5%;
    font-size: 2rem;
}

.your-role{
    margin-top: 2%;
    font-size: 2rem;

}

.work-description{
    margin-top: 2%;
    font-size: 1.5rem;
}


